html, body {
    max-width: 100%;
    overflow-x: hidden;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper {
    background-color: #F3B93A;
    height: 10vh;
}

#content {
    overflow: auto;
    max-height: 85vh;
}

.page-footer {
    height: 9vh;
    padding-top: 1vh;
    background-color: white;
}

.page-footer > a {
    width: 35vw;
    margin-left: 10vw;
}

.brand-logo {
    font-size: 3.5vw !important;
    font-weight: bold;
    width: 90vw;
    white-space: nowrap;
}

.action {
    font-size: 10vw;
    margin-left: 11.5vw;
    margin-top: 3vh;
}

#note {
    margin: 3vh 5vw 0 5vw;
    width: 90vw;
    height: 15vh;
}

img {
    height: 30vw;
    width: 30vw;
    margin-top: 2vh;
    display:inline-block;
}

#pic1, #pic3 {
    margin-left: 10vw;
}

#pic2, #pic4 {
    margin-left: 20vw;
}

#note-video {
    width: 60vw;
    height: 25vh;
    margin-left: 20vw;
    margin-top: 2vh;
}

#note-audio {
    width: 60vw;
    margin-left: 20vw;
    margin-top: 2vh; 
}

#save-note {
    background-color: #3A8C43;
}

#share-note {
    background-color: #5A76B6;
}

#logo-nav {
    width: 50vw;
    margin-left: 12vw;
    margin-top: 3vh;
    height: 25vh;
}