<!doctype html>
<html>

<head>
  <meta name="format-detection" content="telephone=yes">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <link type="text/css" rel="stylesheet" href="../vendors/css/material-icons.css" />
  <link type="text/css" rel="stylesheet" href="../vendors/css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../styles/sessions.css" />
</head>

<body>

  <nav>
    <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="#" class="brand-logo center">Sessions</a>
    </div>
    <ul id="slide-out" class="side-nav">
        <li><img id="logo-nav" src="../assets/logo_devfest.jpg"></li>
        <li><a id="nav-home">Home</a></li>
        <li><div class="divider"></div></li>
        <li><a id="nav-calendar">Calendar</a></li>
        <li><div class="divider"></div></li>
        <li><a id="nav-sessions">Sessions</a></li>
        <li><div class="divider"></div></li>
        <li><a id="nav-speakers">Speakers</a></li>
        <li><div class="divider"></div></li>
        <li><a id="nav-about-device">About device</a></li>
        <li><div class="divider"></div></li>
        </ul>
  </nav>

  <div id="sessions" class="collection"></div>


  <script src="../vendors/js/localforage.js"></script>
  <script src="../vendors/js/jquery.min.js"></script>
  <script src="../vendors/js/materialize.js"></script>
  <script src="../scripts/cache-service.js"></script>
  <script src="../scripts/sessions.js"></script>

</body>

</html>