<!doctype html>
<html>

<head>
  <meta name="format-detection" content="telephone=yes">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <link type="text/css" rel="stylesheet" href="../vendors/css/material-icons.css" />
  <link type="text/css" rel="stylesheet" href="../vendors/css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../styles/session-detail.css" />
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="slide-out" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <a id="session-name" class="brand-logo center"></a>
    </div>
    <ul id="slide-out" class="side-nav">
      <li>
        <img id="logo-nav" src="../assets/logo-devfest.jpg">
      </li>
      <li>
        <a id="nav-home">Home</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a id="nav-calendar">Calendar</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a id="nav-sessions">Sessions</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a id="nav-speakers">Speakers</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a id="nav-about-device">About device</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
    </ul>
  </nav>

  <div id="session">

    <a id="session-notes" class="waves-effect waves-light btn">My notes</a>

    <p id="favorite">
      <input type="checkbox" class="filled-in" id="add-favorite-session" checked="checked" />
      <label for="add-favorite-session">Add as favorite session</label>
    </p>

    <img id="session-pic" />
    <br/>

    <p id="session-description"></p>
    <br/>

    <div id="speakers">

    </div>
    <br/>

  </div>

  <script src="../cordova.js"></script>
  <script src="../vendors/js/jquery.min.js"></script>
  <script src="../vendors/js/materialize.js"></script>
  <script src="../vendors/js/localforage.js"></script>
  <script src="../scripts/cache-service.js"></script>
  <script src="../scripts/session-detail.js"></script>

</body>

</html>